$backgroundcolor: rgb(88, 5, 99);

.mind-node {
	border-radius: 100%;
	background-color: $backgroundcolor;
	height: 10em;
	width: 10em;
	border-width: 1px;
	border-color: black;
	color: white;
	transition: .5s;
	margin: auto;

	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.mind-node:hover {
	background-color: lighten($backgroundcolor, 10%)
}

.modal {
	width: 100px;
	border-width: 1px;
	border-color: black;
	margin: auto;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hidden {
	display: none;
}

.parent-node {
	margin-left: 100px;
}