.modal-card {
	background-color: lightgray;
}

.modal {
	width: 20em;
	height: fit-content;
	text-align: center;
	background-color: lightgray;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	padding: 1em;
	margin: auto;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal > input {
	margin: 0.5em;
	width: 90%;
	border-width: 1px;
	border-radius: 5px;
	padding: 0.5em;
}

.modal > textarea {
	margin: 0.5em;
	width: 90%;
	border-radius: 5px;
	padding: 0.5em;
	height: 5em;
	resize: none;
}

.modal > button {
	margin: 1em;
	padding: 0.75em;
	border-radius: 5px;
}

.modal-header {
	margin: 0.5em;
}